{{ define "main" }}
<div class="page-content schedule-grid">
    <!-- Modal -->
    <div id="location-modal" class="base-modal">
        <div class="base-modal-content">
            <h2 class="modal-location-title title"></h2>
            <p id="modal-address"></p>
            <p id="modal-description"></p>
            <a id="modal-website" href="#" target="_blank">Visita sito</a>

            <button class="close-modal">
                <i class="fa-solid fa-circle-xmark"></i>
            </button>
        </div>
    </div>

    <section class="locations-intro">
        <h1>Strutture</h1>
    </section>
    <!-- Filters -->
    <div class="filters-container" id="location-filter-container">
        <button class="filter-button active" data-filter="all">Tutte</button>
        {{ range where .Site.RegularPages "Section" "location-types" }}
        <button class="filter-button"
                data-filter="{{ .Title }}"
                data-color="{{ .Params.color }}">
            {{ .Title }}
        </button>
        {{ end }}
    </div>

    <div class="structures-layout">
        <div class="structures-grid">
            {{ range where .Site.RegularPages "Section" "locations" }}
            {{ partial "location-card.html" . }}
            {{ end }}
        </div>

        <div id="map"></div>
    </div>
</div>
{{ end }}
