<style>
    .aisf-section-header {
        font-size: 50px;
        margin-top: 0;
        margin-bottom: 0;
        line-height: .8rem;
    }

    .aisf-hero {
        position: relative;
        width: 100%;
        margin-top: 2rem;
    }

    .aisf-hero__image {
        position: relative;
        width: 100%;
        height: 60vh;
        overflow: hidden;
    }

    .aisf-hero__image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px;
    }

    .aisf-section-paragraph {
        font-size: 1.8rem;
        text-align: center;
        padding: .5rem;
        line-height: 2rem;
        margin-top: 0.2rem;
    }

    @media (max-width: 768px) {
        .aisf-section-header {
            font-size: 45px;
            line-height: 2.5rem;
        }

        .aisf-section-paragraph {
            font-size: 1.4rem;
            line-height: 2rem;
            margin-bottom: 1.8rem;
        }
    }
</style>

<section style="padding: 2rem 1rem 1.5rem; max-width: 1100px; margin: 0 auto;">
    <h1 class="aisf-section-header">AISF</h1>

    <div class="aisf-hero">
        <div class="aisf-hero__image">
            <img src="/cisf26/images/about-us/first-cisf-ever.webp" alt="first-cisf-ever">
        </div>
    </div>

    <p class="aisf-section-paragraph">
        AISF organizza eventi in tutta Italia, promuove la divulgazione scientifica e rappresenta gli studenti italiani
        nell’International Association of Physics Students (IAPS)
    </p>
</section>