<section id="contacts" class="contacts-section">
    <div style="display: flex; flex-direction: column;">
        <h1 class="contacts-section-header">Contattaci</h1>

        <a href="mailto:cisf@ai-sf.it" class="contacts-item">
            <i class="fa-solid fa-envelope"></i>
            cisf26@ai-sf.it
        </a>

        <a href="mailto:esecutivo@ai-sf.it" class="contacts-item">
            <i class="fa-solid fa-envelope"></i>
            esecutivo@ai-sf.it
        </a>

    </div>

    <div style="display: flex; flex-direction: column;">
        <h1 class="contacts-section-header">Seguici</h1>

        <a href="https://www.instagram.com/_cisf26/" target="_blank" rel="noopener noreferrer" class="contacts-item">
            <i class="fa-brands fa-instagram"></i>
            <span>_cisf26</span>
        </a>

        <a href="https://www.instagram.com/aisf_fisica/" target="_blank" rel="noopener noreferrer" class="contacts-item">
            <i class="fa-brands fa-instagram"></i>
            <span>aisf_fisica</span>
        </a>

    </div>
</section>