<style>
    .presskit-section-paragraph {
        font-size: 1.8rem;
        text-align: center;
        padding: .5rem;
        line-height: 2rem;
        margin-top: 0.2rem;
    }

    @media (max-width: 768px) {
        .presskit-section-paragraph {
            font-size: 1.4rem;
            margin-bottom: 1.8rem;
        }
    }
</style>
<section style="padding: 2rem 1rem 3rem; max-width: 1100px; margin: 0 auto; text-align: center;">
    <h1 style="font-size: 50px; margin-bottom: 0;">Press Kit</h1>

    <p class="presskit-section-paragraph">
        Se desideri scrivere di CISF26, del nostro lavoro, contatta il nostro team.<br /> Di seguito trovi il nostro Presskit,
        con tutte le informazioni rilevanti.
    </p>

    <button type="button" class="btn-primary" id="presskitButton">
        Scarica il nostro Press Kit
    </button>
</section>