*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $dark-grey;
  background-color: $light-grey;
  margin: 0;
  display: flex;
  flex: 1;
  height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

// Modal
body.modal-open {
  overflow: hidden;
  height: 100%;
}

body.popup-open {
  overflow: hidden;
  .mobile-popup-overlay {
    opacity: 1;
    pointer-events: auto;
  }
}

.page-content {
  margin-top: $nav-height;
  padding: 1.5rem 1rem;

  @media (min-width: $breakpoint-md) {
    padding: 2.5rem 1rem;
  }

  @media (min-width: $breakpoint-lg) {
    padding: 3.5rem 1rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $secondary-color;
  font-weight: 600;
}

a {
  color: $primary-color;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: darken($primary-color, 10%);
  }
}

.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.content {
  p {
    margin-bottom: 1.5rem;
  }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(#295763, 0.5) #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #295763;
  border-radius: 10px;
  border: 1px solid #ffffff;
}

// Footer
.footer {
  background-color: $dark-grey;
  color: $light-grey;
  text-align: center;
  padding: 20px 0;
  width: 100%;
}

.footer-content {

}

.filters-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  margin: 0.5rem 0 1rem;

  .filter-button {
    background: #fff;
    border: 1px solid $secondary-color;
    color: $secondary-color;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
      background: rgba($secondary-color, 0.1);
    }

    &.active {
      color: $accent-color-1;
      border-color: $accent-color-1;
    }
  }
}