.about-us-page-wrapper {
  margin-top: $nav-height;
  padding: 1.5rem 1rem;

  @media (min-width: $breakpoint-md) {
    padding: 2.5rem 1rem;
  }

  @media (min-width: $breakpoint-lg) {
    padding: 3.5rem 1rem;
  }
}

.organizers-grid {
  display: flex;
  gap: 1rem;
  align-items: stretch;
  justify-content: flex-start; // Allinea a sinistra
  flex-wrap: wrap;

  @media (max-width: 768px) {
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-bottom: 1rem;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

// TODO: Improve that
.organizer-photo {
  max-width: 300px;
  height: 230px;
  border-radius: 12px;
  object-fit: cover;
  object-position: center;
}

.organizer-card {
  background-color: $light-grey;
  border-radius: 20px;
  text-align: left;
  padding: 10px;
  box-sizing: border-box;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 450px;
  width: 300px;
  flex-shrink: 0;
  box-shadow: 0 0 15px 0 rgba(43, 63, 154, 0.15);

  &:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 25px 0 rgba(43, 63, 154, 0.18);
  }

  @media (max-width: 768px) {
    flex: 0 0 75%;
    scroll-snap-align: center;
    width: auto; // Su mobile usa auto
  }
}

.organizer-image-wrapper {
 width: 100%;
 height: 220px;
 overflow: hidden;
 border-radius: 15px;
 margin-bottom: 20px;

 .organizer-photo {
   width: 100%;
   height: 100%;
   object-fit: cover;
   display: block;
 }
}

.organizer-name {
 font-size: 1.4rem;
 font-weight: 600;
 color: $secondary-color;
 margin-top: 5px;
  margin-bottom: 0;
}

.organizer-role {
 font-size: 1rem;
 color: $accent-color-1;
 font-weight: 500;
  margin: 0;
}

.organizer-description {
  align-content: center;
  font-size: 0.9rem;
  font-weight: 500;
  color: $dark-grey;
  line-height: 1.5;
  flex-grow: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.contacts-section {
  background: linear-gradient(90deg,rgba(52, 43, 127, 0.9) 0%, rgba(83, 30, 131, 0.97) 100%);
  padding: 3rem 1rem;
  user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 0rem;
  flex-wrap: wrap;
}

.contacts-section-header {
  font-size: 50px;
  line-height: 1.2;
  color: white;
  text-align: center;
}

.contacts-item {
  color: white;
  font-size: 1.5rem;
  margin-left: 10px;

  i {
    margin-right: 8px;
  }
}

/* Mobile resizing */
// @media (max-width: 768px) {
//   .organizers-section {
//     padding: 40px 0;

//     h2 {
//       font-size: 2rem;
//       margin-bottom: 25px;
//     }
//   }

//   .organizer-image-wrapper {
//     height: 180px;
//   }

//   .organizer-name {
//     font-size: 1.2rem;
//   }

//   .organizer-description {
//     font-size: 0.85rem;
//   }
// }

@media (max-width: 768px) {
  .contacts-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    padding: 3rem 1.5rem;
  }

  .contacts-item {
    //text-align: center;
    margin-left: 0;
  }

  .contacts-section-header {
    font-size: 38px;
    line-height: 1.3;
    width: 90%;
    margin: 0 auto;
    word-break: break-word;
    text-align: start;
    margin-left: 0;
  }
}