.about-us-page-wrapper {
  margin-top: $nav-height;
  padding: 1.5rem 1rem;

  @media (min-width: $breakpoint-md) {
    padding: 2.5rem 1rem;
  }

  @media (min-width: $breakpoint-lg) {
    padding: 3.5rem 1rem;
  }
}

.team-members-list {
  display: flex;
  gap: 1rem;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.team-members-list {
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding-bottom: 1rem;
  -webkit-overflow-scrolling: touch;
  //scrollbar-width: none;
  gap: 1.5rem;
  padding: 1.2rem;

  //&::-webkit-scrollbar {
  //  display: none;
  //}
}

.team-member-photo-wrapper {
  width: 100%;
  max-width: 300px;
  max-height: 270px;
  height: 270px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

// TODO: Improve that
.team-member-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease;
}

.team-member-card {
  background-color: $light-grey;
  border-radius: 20px;
  text-align: left;
  padding: 10px;
  box-sizing: border-box;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 450px;
  width: 300px;
  flex-shrink: 0;
  box-shadow: 0 0 15px 0 rgba(43, 63, 154, 0.15);

  &:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 25px 0 rgba(43, 63, 154, 0.18);
    cursor: pointer;
  }
}

.team-member-name {
 font-size: 1.4rem;
 font-weight: 600;
 color: $secondary-color;
 margin-top: 5px;
  margin-bottom: 0;
}

.team-member-role {
 font-size: 1rem;
 color: $accent-color-1;
 font-weight: 500;
  margin: 0;
}

.team-member-bio {
  align-content: center;
  font-size: 0.9rem;
  font-weight: 500;
  color: $dark-grey;
  line-height: 1.5;
  flex-grow: 1;
  margin-top: 0.55rem;
  margin-bottom: 0;


  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contacts-section {
  background: linear-gradient(90deg,rgba(52, 43, 127, 0.9) 0%, rgba(83, 30, 131, 0.97) 100%);
  padding: 3rem 1rem;
  user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 0rem;
  flex-wrap: wrap;
}

.contacts-section-header {
  font-size: 50px;
  line-height: 1.2;
  color: white;
  text-align: center;
}

.contacts-item {
  color: white;
  font-size: 1.5rem;
  margin-left: 10px;

  i {
    margin-right: 8px;
  }
}

.modal-team-member {
  text-align: center;

  &.image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1rem;
  }

  &.name {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0;
  }

  &.role {
    display: block;
    margin-bottom: .5rem;
    font-size: 1rem;
    color: $accent-color-1;
    font-weight: bold;
    user-select: none;
    margin-top: 0;
  }

  &.bio {
    user-select: none;
    ‑webkit‑user‑select: none;
    margin-top: 1rem;
    font-size: 0.95rem;
    line-height: 1.5;
    color: #333;
    text-align: left;
    max-height: 280px;
    overflow-y: auto;
  }
}

/* Mobile resizing */
// @media (max-width: 768px) {
//   .organizers-section {
//     padding: 40px 0;

//     h2 {
//       font-size: 2rem;
//       margin-bottom: 25px;
//     }
//   }

//   .organizer-image-wrapper {
//     height: 180px;
//   }

//   .organizer-name {
//     font-size: 1.2rem;
//   }

//   .organizer-description {
//     font-size: 0.85rem;
//   }
// }

@media (max-width: 768px) {
  .contacts-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    padding: 3rem 1.5rem;
  }

  .contacts-item {
    //text-align: center;
    margin-left: 0;
  }

  .contacts-section-header {
    font-size: 38px;
    line-height: 1.3;
    width: 90%;
    margin: 0 auto;
    word-break: break-word;
    text-align: start;
    margin-left: 0;
  }

  .team-member-card {
    flex: 0 0 75%;
    scroll-snap-align: center;
    //width: auto;
    width: 320px;
    max-width: 320px;
    height: auto;
  }

  .team-member-photo-wrapper {
    max-width: 300px;
    //height: 180px;
    height: 160px;
  }

  .members-section-title {
    margin-bottom: 0;
  }

  .team-member-bio {
    -webkit-line-clamp: 3;
  }
}