.guests-wrapper {
  padding: 2rem 1rem 3rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.guest-card {
  display: flex;
  border-radius: 20px;
  border: 1px solid #f1f1f1;
  flex-shrink: 0;
  cursor: pointer;
  //transition: flex-basis .4s ease;
  padding: .5rem;
  flex-direction: column;
  align-items: center;
  width: 220px;
  box-shadow: 0 0 15px 0 rgba(43, 63, 154, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {

    transform: scale(1.05);
    box-shadow: 0 8px 25px 0 rgba(43, 63, 154, 0.18);


    //.guest-card__img-mask img {
    //  transform: scale(1.05);
    //}
  }
}

.guest-card__img-mask {
  width: 100%;
  height: 220px;
  overflow: hidden;
  border-radius: 15px;
}

.guest-card__img-mask img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
  transition: all .4s ease;

  &:hover {
    transform: scale(1.03);
  }
}



.guest-card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;

  h3,
  p {
    margin: 0;
    text-align: start;
  }

  h3.guest-name {
    color: $secondary-color;
  }

  p.guest-role {
    color: $accent-color-1;
  }

}