// Color Palette
$primary-color: #03A8B4;
$secondary-color: #295763;
$accent-color-1: #993701;
$accent-color-2: #DD9426;
$dark-grey: #2D2D2D;
$light-grey: #FBFBFB;
$daje-roma-daje: #800020;

// Navbar
$nav-height: 70px;
$logo-size: 40px;
$active-color: $accent-color-1;
$hamburger-color: $secondary-color;
$hamburger-line-height: 3px;
$hamburger-line-width: 25px;
$hamburger-line-gap: 5px;

// Typography
$font-family-base: 'TBJ Endgraph Mini', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;

$organizers-bg-color: #03A8B4;

// butterfly-bar
$butterfly-bar-max-height: 80vh;
