{{ define "main" }}
<div class="page-content">
    <div class="box">
        <i class="fa-solid fa-triangle-exclamation exclamation"></i>
        <p>
            Le iscrizioni all'evento non sono ancora aperte.
        </p>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const form = document.getElementById('gform');
        const successMessage = document.getElementById('gform-success');
        const iframe = document.querySelector('iframe[name="hidden_iframe"]');
        let formSubmitted = false;

        form.addEventListener('submit', function() {
            formSubmitted = true;
        });

        iframe.addEventListener('load', function() {
            if (formSubmitted) {
                successMessage.style.display = 'block';
                form.reset();
                setTimeout(() => {
                    successMessage.style.display = 'none';
                }, 5000);
                formSubmitted = false;
            }
        });
    });
</script>
{{ end }}
