<section class="contact-section" data-animate>
    <div class="form-card" style="text-align: start">
        <div class="form-content">
            <div class="form-header">
                <h1 class="form-title">Inviaci un messaggio!</h1>
                <p class="form-subtitle">Usa questo box per qualsiasi domanda tu abbia rispetto a CISF26</p>
            </div>

            <form id="qa-form" target="hidden_iframe">
                <div class="form-group">
                    <label for="name">Nome e Cognome <span class="required">*</span></label>
                    <input id="name" type="text" name="entry.2127823262" placeholder="Fabiola Gianotti" required>
                </div>

                <div class="form-group">
                    <label for="email-address">Email <span class="required">*</span></label>
                    <input id="email-address" type="email" name="entry.669809030" autocomplete="on" placeholder="johndoe@mail.com" required>
                </div>

                <div class="form-group">
                    <label for="message-body">Di cosa hai bisogno? <span class="required">*</span></label>
                    <textarea id="message-body" name="entry.1490964787" maxlength="1000" placeholder="Salve, avrei una curiosità..."></textarea>
                </div>
            </form>

            <div class="button-group">
                <button type="button" class="btn-primary" id="">Invia messaggio</button>
            </div>
        </div>
    </div>
</section>