{{ $type := .Params.type }}
{{ $typePage := index (where (where .Site.RegularPages "Section" "location-types") "Title" $type) 0 }}

<div class="base-card"
     id="location-card"

     data-type="{{ .Params.type }}"
     data-title="{{ .Title }}"
     data-address="{{ .Params.address }}"
     data-description="{{ .Params.description }}"
     data-website="{{ .Params.website }}"
     data-lat="{{ .Params.lat }}"
     data-lng="{{ .Params.lng }}"
     data-color="{{ $typePage.Params.color }}"

     style="cursor: pointer;"
>
    <div class="base-card-content">
        <button class="location-card-fab-info-btn">
            <i class="fa-solid fa-info"></i>
        </button>
        {{ with .Params.image }}
            <img class="base-card-image-container" src="{{ . | relURL }}" alt="Img {{ $.Title }}">
        {{ end }}
    </div>


    <div class="scheduled-event-card-body">
        <h3>{{ .Title }}</h3>

        <div class="base-card-address-container">
            <a class="card-location"
               href="{{ .Params.location_url }}"
               target="_blank"
               rel="noopener noreferrer"
            >
                <i class="fa-solid fa-location-dot"></i>
                <span>Naviga</span>
            </a>
        </div>
    </div>
</div>