{{ $type := .Params.type }}
{{ $typePage := index (where (where .Site.RegularPages "Section" "location-types") "Title" $type) 0 }}

<div class="location-card"
     id="location-card"

     data-type="{{ .Params.type }}"
     data-title="{{ .Title }}"
     data-address="{{ .Params.address }}"
     data-description="{{ .Params.description }}"
     data-website="{{ .Params.website }}"
     data-lat="{{ .Params.lat }}"
     data-lng="{{ .Params.lng }}"
     data-color="{{ $typePage.Params.color }}"

    
>
    {{ with .Params.image }}
        <div 
            class="location-card-content" 
            style="background-image: url('{{ . | relURL }}');"
        >
            <div class="location-card--body">
                <h3>{{ $.Title }}</h3>
                <div class="location-card--controls">
                    <button class="location-card-fab-info-btn">
                        <i class="fa-solid fa-info"></i>
                    </button>
                    

                    <button class="location-card-directions-button">
                        <a href="{{ $.Params.location_url }}" target="_blank" rel="noopener noreferrer">
                            <i class="fa-solid fa-route"></i>
                            <span>Indicazioni</span>
                        </a>
                    </button>
                </div>
            </div>
        </div>
    {{ end }}
</div>