{{ $type := .Params.type }}
{{ $typePage := index (where (where .Site.RegularPages "Section" "location-types") "Title" $type) 0 }}

<div class="location-card"
     id="location-card"

     data-type="{{ .Params.type }}"
     data-title="{{ .Title }}"
     data-address="{{ .Params.address }}"
     data-description="{{ .Params.description }}"
     data-website="{{ .Params.website }}"
     data-lat="{{ .Params.lat }}"
     data-lng="{{ .Params.lng }}"
     data-color="{{ $typePage.Params.color }}"

    
>
    {{ with .Params.image }}
        <div class="location-card-content" style="background-image: url('{{ . | relURL }}');">
            <div style="display: flex; z-index: 999; position: absolute; flex-direction: column; padding: 13px; height: 100% !important;
    justify-content: space-between;">
                <a class="location-card-fab-info-btn">
                    <i class="fa-solid fa-info"></i>
                </a>

                <div style="display: flex; flex-direction: column;">
                    <h3 class="location-name" style="">{{ $.Title }}</h3>
                    <a href="{{ $.Params.location_url }}"
                       target="_blank"
                       rel="noopener noreferrer"
                       class="location-card-directions-button">
                        <i class="fa-solid fa-route"></i>
                        <span>Indicazioni</span>
                    </a>
                </div>
            </div>


        </div>
    {{ end }}
</div>