{{ define "main" }}

<section class="page-content">
    <div class="organizers-grid-container">
        <div style="text-align: center">
            <h2>CISF26 è organizzata da</h2>
            {{ range .Params.organizers }}
            <a href="{{ .link }}" target="_blank" rel="noopener noreferrer" class="organizer-logo">
                <img src="{{ .logo | relURL }}" alt="Logo {{ .name }}">
            </a>
            {{ end }}
        </div>

        <div style="text-align: center; display: none">
            <h3>In collaborazione con</h3>
            {{ range .Params.collaborators }}
            <a href="{{ .link }}" target="_blank" rel="noopener noreferrer" class="organizer-logo">
                <img src="{{ .logo | relURL }}" alt="Logo {{ .name }}">
            </a>
            {{ end }}
        </div>
    </div>

    <section style="padding: 2rem 1rem 3rem; max-width: 1100px; margin: 0 auto;">
        {{ $categories := where .Site.RegularPages "Section" "partner-categories" }}
            {{ range sort $categories "Params.order" }}
                {{ $catPartners := where (where $.Site.RegularPages "Section" "partners") "Params.category" .Title }}
                {{ if gt (len $catPartners) 0 }}
                    <div style="display: flex;justify-content: center;margin-top: 1rem;margin-bottom: .5rem;">
                        <div class="partner-container-header" {{ if .Params.border }} style="border: 2px solid {{ .Params.color }};" {{ end }}>
                            <h2 style='color: {{ .Params.color }}'>{{ .Title }}</h2>
                        </div>
                    </div>
                    
                    {{ $sortedPartners := sort $catPartners "Params.order" }}

                    {{ if eq .Params.layout "grid" }}
                        {{ partial "partners-grid.html" (dict "partners" $sortedPartners "category" .) }}
                    {{ else if eq .Params.layout "slider" }}
                        {{ partial "partners-slider.html" (dict "partners" $sortedPartners "category" .) }}
                {{ end }}
            {{ end }}
        {{ end }}
    </section>
</section>

{{ end }}
