{{ define "main" }}
<style>
    .guest-card {
        opacity: 0;
        transform: translateY(30px);
    }
</style>
<div class="page-content" style="padding-top: 15px;">
    <!-- Modal -->
    <div id="guest-modal" class="base-modal">
        <div class="base-modal-content">
            <img class="modal-speaker image" src="" alt="">
            <h3 class="modal-speaker name"></h3>
            <p class="modal-speaker role"></p>
            <div class="modal-speaker bio"></div>

            <button class="close-modal">
                <i class="fa-solid fa-circle-xmark"></i>
            </button>
        </div>
    </div>

    <section style="text-align: center;">
        <h1 class="section-title page-title-anim" style="font-size: 50px;">Gli ospiti di CISF26</h1>
        <div class="form-group" style="margin: 0 auto; width: 50%;">
            <input id="guest-searchbar" type="text" name="entry.2127823262" placeholder="Cerca ospite" required>
        </div>
    </section>

    <section style="padding: 2rem 1rem 3rem;
          max-width: 1100px;
          margin: 0 auto; text-align: center;" class="guests-wrapper">
        {{ $guests := (where site.RegularPages "Section" "guests").ByTitle }}
        {{ range $guests }}
            <div class="guest-card"
                 data-modal-target="#guest-modal"
                 data-modal-guest-name="{{ .Title }}"
                 data-modal-guest-role="{{ .Params.role }}"
                 data-modal-guest-image="{{ .Params.image | relURL }}"
                 data-guest-bio="{{ .Params.bio | safeHTML }}"
            >
                <div class="guest-card__img-mask">
                    <img src="{{ .Params.image | relURL}}" alt="{{ .Title }}">
                </div>
                <div class="guest-card-content">
                    <h3 class="guest-name">{{ .Title }}</h3>
                    <p class="guest-role">{{ .Params.role }}</p>
                </div>
            </div>
        {{ end }}
        <div id='no-res-pane' class="no-results-pane">
            Nessun risultato
        </div>
    </section>
</div>
{{ end }}