<div class="form-step" data-step="6">
    <div class="form-group">
        <label for="message">Scrivi qui la tua lettera (max 1800 caratteri)<span class="required">*</span></label>
        <textarea required id="message" name="entry.102884040" maxlength="1800" placeholder="Voglio partecipare a CISF26 perchè..."></textarea>
    </div>

    <div class="form-group">
        <label for="message_request">Hai ulteriori richieste per il Comitato Organizzatore?</label>
        <textarea id="message" name="entry.293599087" maxlength="1800" placeholder="Nessuna richiesta"></textarea>
    </div>

    <div class="form-group">
        <label><a href="https://drive.google.com/file/d/1aeFSl6m6ztU2_qglUHD7YgUSVXbCvuH8/view?usp=sharing" target="_blank">Termini e Condizioni </a> dell'iscrizione all'evento <span class="required">*</span></label>
        <div class="radio-group">
            <div class="radio-option">
                <input type="radio" id="terms-and-condition" name="entry.448592779" value="accept-terms-and-condition" required>
                <label for="terms-and-condition" class="radio-label">Accetto i Termini e le Condizioni dell'iscrizione a CISF26</label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label>Informativa per la privacy: accetti la <a href="https://ai-sf.it/Informativa_Privacy_AISF.pdf" target="_blank">Privacy policy </a> disponibile sul sito? <span class="required">*</span></label>
        <div class="radio-group">
            <div class="radio-option">
                <input type="radio" id="privacy-policy" name="entry.469185020" value="accept-privacy-policy" required>
                <label for="privacy-policy" class="radio-label">Ho letto e accetto l'Informativa sulla Privacy di AISF.</label>
            </div>
        </div>
    </div>

</div>

